.main-share-grid{
    width: 100%;
    background: url(../../../../../assets/back.png);
    padding: 20px 20px;
}
::ng-deep .mat-dialog-container{
    padding: 0 !important;
}
.share-title{
    font-size: 32px;
}
.user-name{
    cursor: pointer;
}
.user-name:hover{
    background-color: rgba(204, 198, 198, 0.486);
}