<div class="main-structure">
    <mat-card class="card-structure">
        <div class="logo">
            <h1>Registration</h1>
        </div>
        <form [formGroup]=form>
            <mat-form-field class="login-input" appearance="fill">
                <mat-label>User name</mat-label>
                <input matInput formControlName="userName" placeholder="Ex. PedroAlmeida22" value="">
            </mat-form-field>
            <mat-form-field class="login-input" appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="password" value="">
            </mat-form-field>
            <mat-form-field class="login-input" appearance="fill">
                <mat-label>Password confirmation</mat-label>
                <input matInput formControlName="passwordConfirmation" type="password" value="">
            </mat-form-field>
        </form>
        <button mat-raised-button class="save-button" [disabled]="!form.valid" (click)="save()">Save</button>
    </mat-card>
</div>
