$base-color: #fba204;
$base-text-color: #faf8f8;
$second-color: #f15940;

.form-structure{
    text-align: center;
    justify-content: center;
    width: 100%;

}
.card-structure{
    display: grid;
    grid-auto-flow: row;
    margin-top: 48px;
}
.login-input{
    width: 100%;
  
}
.save-button{
    background-color: #f3aa2c;
    color: #fff;
}
.filed-set{
    border-radius: 16px;
    background: url(../../../../assets/back.png);
}
.box-title{
    text-align: left;
    font-size: 32px;
}
.grid-input{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10%;
    font-size: 22px;
}


::ng-deep .angular-editor-textarea{
    font-size: 28px;
    text-align: left;
    min-height: 180px !important;
}
.actions{
    text-align: end;
    margin-top: 16px;
}
.button-save{
    width: 250px;
    color: $base-text-color;
    background-color: $base-color;
}
.button-clean{
    margin-right: 16px;
    width: 250px;
    color: $base-text-color;
    background-color: $second-color;
}
