.form-structure{
    text-align: center;
    justify-content: center;
    width: 100%;

}
.card-structure{
    display: grid;
    grid-auto-flow: row;
    margin-top: 48px;
}
.login-input{
    width: 100%;
    color: #fff;
    border: 2px solid;
}
.save-button{
    background-color: #f3aa2c;
    color: #fff;
}
.filed-set{
    border-radius: 16px;
    background: url(../../../../assets/back.png);
    height: 380px;
    padding: 64px 18px;
}
.box-title{
    text-align: left;
    font-size: 32px;
}
.grid-input{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10%;
    font-size: 22px;
}
.input-item{
    color: #fff;
}