<div class="form-structure">
    <fieldset class="filed-set">
        <legend class="box-title">Create Note</legend>
        <form [formGroup]=form>
            <div class="grid-input">
                <mat-form-field appearance="outline" class="login-input">
                    <mat-label>Note title</mat-label>
                    <input matInput formControlName="userName" placeholder="Ex. Customer meeting" value="">
                </mat-form-field>
                <mat-form-field appearance="outline" class="login-input" >
                    <mat-label>Category</mat-label>
                    <input matInput formControlName="category" class="input-item"
                     placeholder="Ex. Study, Work" value="">
                </mat-form-field>
            </div>
            
            <angular-editor class="grid-content" [config]="editorConfig"></angular-editor>
            
            
        </form>
    </fieldset>
</div>
<div *ngIf="show">
    
</div>
