.note-menu{
    width: 100%;
    min-height: 100px;
    background-color: #FF6600;
}
.menu-action{
   padding: 28px 14px; 
}
.main-body{
    margin: 24px;
}
.info-grid{
    width: 100%;
    text-align: end;
    margin-right: 44px;
}
.notifications{
    font-size: 18px;
    cursor: pointer;
}