<mat-card class="card-structure">
    <div class="note-title">
        <h2 style="margin-top: 12px; font-size: 42px;">Work a lot</h2>
        <div class="actions">
            <div class="action-buttons">
                <button mat-fab class="button" aria-label="Example icon button with a delete icon">
                    <mat-icon>delete</mat-icon>
                  </button>
                <button mat-fab class="button" aria-label="Example icon button with a delete icon">
                    <fa-icon style="font-size: 18px;" [icon]="editIcon"></fa-icon>
                  </button>
                  <button mat-fab class="button" class="example-icon" aria-label="Example icon-button with share icon">
                    <mat-icon>share</mat-icon>
                  </button>
              </div>
        </div>
    </div>
    <div class="note-category">
        <span class="category">Office</span>
    </div>
    <div class="note-body">
        <p style="font-size: 18px;">
            I have a lot work for today
            But my first task is clean my office
        </p>
    </div>
    <div class="note-footer">
        <span>Sat, Aug 28 2021 12:34 PM </span>
    </div>
</mat-card>